 *{
    margin:0px;
    font-family: Arial;
    border: border-box;
 }
 body{
    background-color: #e2e7e6;
 }

/* Header */
.navbar{
    background-color: #0f1111;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* Amazon Logo box 1*/
.logo{
    background-image: url("amazon-logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
    border: 2px solid transparent;
}
.logo:hover{
    border: 1.5px solid white;
}
/* Address box 2  */
.address-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 20px;
}
.address-second{
    font-size: 1rem;
    margin-left: 3px;
} 
.address-icon{
    display: flex;
    align-items: center;
}
.address:hover{
    border: 1.5px solid white;
}


/* Search Amazon box 3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    background-color: pink;
    border-radius: 4px;
}

.select{
    background-color: #E6E6E6;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    background-color: #FF9900;
    height: 40px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #0f1111;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.nav-search:hover{
    border: 1.5px solid orange;
}

/* signin and orders box 4 */
.signin{
    color: #D6D6D6;
}
.orders{
    color: #D6D6D6;
}
.nav-second{
    font-weight: 700;
    font-size: 1rem;
}
.signin:hover{
    border: 1.5px solid white;
}
.orders:hover{
    border: 1.5px solid white;
}

/* cart box 5 */
.cart i{
    font-size: 25px;
}
.cart{
    font-weight: 700;
}
.cart:hover{
    border: 1.5px solid white;
}

/* Panel Bar box 6 */

.panel{
    background-color: #222F3D;
    height: 40px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.menu{
    display: flex;
}

.panel-options a{
    text-decoration: none;
    display: inline;
    color: white;
    margin-left: 15px;
}
.panel-options{
    width: 95%;
}
.menu:hover{
    border: 1.5px solid white;
}
.tags:hover{
    border: 1.5px solid white;
}
/* Image of Home Page box 7 */

.home-image{
    background-image: url("Main-Image.jpg");
    background-size: cover;
    height: 450px;
}

/* Shop section boxes */

.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    align-items: center;
    background-color: transparent;
    margin-top: -150px;
    position: relative;
    z-index: 1;
}
.see-more{
    text-decoration: none;
    color: #007185;
}
.box1,.box2,.box3,.box4,.box5,.box6,.box7,.box8{
    border: 2px solid black;
    height: 400px;
    width: 300px;
    background-color: white;
    border: none;
}
.box1-space{
    margin-left: 1rem;
    margin-right: 1rem;
}
.image-box1{
    background-image: url("box1-image.jpg");
    background-size: cover;
    height: 300px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.image-box2{
    background-image: url("box2-image.jpg");
    background-size: cover;
    height: 300px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.image-box3{
    background-image: url("box3-image.jpg");
    background-size: cover;
    height: 300px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.image-box4{
    background-image: url("box4-image.png");
    background-size: cover;
    height: 300px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}


.shop-section-1{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    align-items: center;
    padding-top: 20px;
}

.image-box5{
    background-image: url("box5-image.png");
    background-size: cover;
    height: 300px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.image-box6{
    background-image: url("box6-image.png");
    background-size: cover;
    height: 300px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.image-box7{
    background-image: url("box7-image.png");
    background-size: cover;
    height: 300px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.image-box8{
    background-image: url("box8-image.png");
    background-size: cover;
    height: 300px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

/* Footer */

.frame{
    height: 189px;
    background-color: white;
    margin-top: 20px;
}
.border{
    height: 149px;
    /* background-color: white; */
    padding: 15px 20px;
    border-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.11px solid rgb(202, 202, 202);
    margin-bottom: 50px;
    flex-wrap: wrap;
}
.sign-in{
    height: 91px;
    /* background-color: white; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 35px;
    flex-wrap: wrap;
}
.tag-signin{
    padding: 5px 11px;
    color: #0f1111;
    text-decoration: none;
    background-color: #FF9900;
    border-radius: 20px;
    width: 148px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 120px;
}
.new-customer{
    height: 15px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 12px;
}
.start{
    margin-left: 8px;
}
/* nav footer back to top */
.nav-footer-to-top{
    height: 49px;
    background-color: #37475A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.nav-footer{
    background-color: #232f3E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.tags-footer{
    text-decoration: none;
    color: rgb(141, 141, 141);
    margin: 20px;
    padding: 10px;
}
.li{
    list-style-type: none;
    margin: 10px;
}
.get-to-know-us{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.let-us-help{
    margin-left: 58px;
    color: white;
}
.ul{
    height: 150px;
    margin: 10px;
    padding: 10px;
}

/* copy right footer */

.nav-copyright{
    height: 77px;
    background-color: #131A22;
    padding: 10px 0px 30px;
    color: #DDDDDD;
}
.nav-footer-list-2{
    text-align: center;
    padding-top: 30px;
}
.a-2{
    text-decoration: none;
    color: #DDDDDD;
    margin: 10px;
}
.div-2{
    text-align: center;
    padding-top: 15px;
}
/* #131921;
#232f3e;
#37475A; */